{% extends 'base.html' %}

<!DOCTYPE html>

{% block title  %}
    Expense Categories
{% endblock title %}

{% block content %}

    <main>
        <h1>My Categories</h1>
        <div>
            <table>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                  </tr>
                </thead>
                <tbody>
                  {% for category in categories %}
                    <tr>
                      <td>{{ category.name }}</td>
                      <td>{{ category.receipts.count }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </main>
{% endblock content %}
